<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/lib/site.css">

</head>
<body>

    <!--Header section of page--->
    <header class="headerbg" >
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/lib/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <b>Company Name</b>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Contact</a>
                        </li>
                    </ul>


                    <div class="buttons ml-auto">
                        <Button type="button" class="btn btn-info">Log In</Button>
                        <button type="button" class="btn btn-info">Register</button>
                    </div>
                </div>
            </nav>
                <!--    <a class="navbar-brand clearfix"> <h1><img src="/lib/images/logo.png" class="logo"><b>Company Name</b></h1> </a>
        <button class="navbar-toggler ml-md-auto collapse  " type="button" data-toggle="collapse" data-target="navId" >
    -->


        </div>

    </header>
  

    <!--Header section ends here -->

    <!--Body section of the page-->

    <div class="bgmiddle">
            @RenderBody()
            <hr />
        </div>
        <footer class="navbar-inverse">
            <p class="txtColor padding">&copy; @DateTime.Now.Year - All right reserved</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)

</body>
</html>
