<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="/lib/site.css">

</head>
<body>

    <!--Header section of page--->
    <header class="headerbg" id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#">
                    <img src="/lib/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    <b>Company Name</b>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ulMargin">
                        <li class="nav-item ">
                            <a class="nav-link " href="@Url.Action("Index", "home")"><b>Home</b> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about"><b>Projects</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about"><b>About Us</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#contact"><b>Contact</b></a>
                        </li>
                    </ul>


                    <div class="buttons ml-auto">
                        @if (string.IsNullOrWhiteSpace(Convert.ToString(Session["token"])))
                        {
                            <Button type="button" class="btn btn-info btnpadding" id="btnlogin">LOGIN</Button>
                            <button type="button" class="btn btn-info btnpadding" id="btnreg">REGISTER</button>
                        }

                        else
                        {
                            <button type="button" class="btn btn-info btnpadding" id="btndash" onclick="location.href='@Url.Action("Index", "LoggedIn")'">DASHBOARD</button>
                            <button type="button" class=" btn btn-info btnpadding" id="btnlogout" onclick="location.href='@Url.Action("LogOut", "Home")'">LOGOUT</button>

                        }
                    </div>
                </div>
            </nav>


        </div>

    </header>


    <!--Header section ends here -->

    <!--Body section of the page-->

    <div class="bgmiddle">
        @RenderBody()
        <hr />
    </div>
    <footer class="navbar-inverse text-center">
        <p class="txtColor padding">&copy; @DateTime.Now.Year - All right reserved</p>
    </footer>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/site")


    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
