@using CompanyPortal.ViewModels

@model CompanyPortal.ViewModels.RegisterViewModel




@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" type="text/css" href="~/lib/site.css">
<link rel="stylesheet" href="~/Content/themes/base/datepicker.css">


@using (Html.BeginForm("RegisterUser", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-5" for="Username"><b>Username</b></label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @id = "Valid-user" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="Email"><b>Email</b></label>


            <div class="col-md-12">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "valid-email" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="Phone"><b>Phone Number</b></label>

            <div class="col-md-12">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger", @id = "valid-phone" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password"><b>Password</b></label>

            <div class="col-md-12">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @id = "valid-pass" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="ConfirmPassword"><b>Confirm Password</b></label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @id = "valid-cn" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="FirstName"><b>First Name</b></label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger", @id = "valid-fn" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="Lastname"><b>Last Name</b></label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger", @id = "valid-ln" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="Gender"><b>Gender</b></label>
            <div class="col-md-12">

                Male    @Html.RadioButtonFor(m => m.Gender, "Male", htmlAttributes: new { @id = "male", @checked = true })
                Female   @Html.RadioButtonFor(m => m.Gender, "Female", htmlAttributes: new { @id = "female" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger", @id = "valid-gender" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="Bloodgroup"><b>Bloodgroup</b></label>

            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Bloodgroup, new SelectList(""), "Select BloodGroup")
                @Html.ValidationMessageFor(model => model.Bloodgroup, "", new { @class = "text-danger", @id = "valid-blood" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="DOB"><b>Date of Birth</b></label>

            <div class="col-md-12">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control datepicker " , @readonly=true } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger", @id = "valid-dob" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-5"><b>Age</b></label>

            <div class="col-md-10" id="age">
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 loginbtn">
                <input type="submit" value="Submit" class="btn btn-default btnlogin" id="subbutton" />
            </div>
        </div>
    </div>
}





@section Scripts {

    <script type="text/javascript">
        //ModelState.clear();
        debugger
        var count = 0;
        $('#subbutton').prop('disabled', true);

        window.onload = window.history.forward(0);

        $(document).ready(function () {

            $.ajax({

                url: '/api/values/GetBloodGroups',
                method: 'GET',

                success: function (data) {
                    console.log(data);

                    $('#BloodGroup').val("");
                    for (var i = 0; i < data.length; i++) {

                        var opt = new Option(data[i].BloodGroupName, data[i].BId);
                        $('#Bloodgroup').append(opt);
                    }
                },
                error: function (jqXHR) {
                    console.log(jqXHR);

                }
            });

            $("#DOB").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1960:1999",
                onSelect: function (datetext, inst) {
                    $('#subbutton').prop('disabled', true);
                    var dob = $(this).val();
                    dob = new Date(dob);
                    var today = new Date();
                    var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));
                    //
                    if (age > 20) {
                        $('#age').html(age + ' years old');
                        count = count + 1;
                        if (count >= 9) {
                            $('#subbutton').prop('disabled', false);
                        }

                    }
                    else {
                        $('#age').html("");
                        document.getElementById("valid-dob").innerHTML = "User must complete his 20 years of age";
                        $("#valid-dob").show();
                        document.getElementById("DOB").innerHTML = "";

                        $('#subbutton').prop('disabled', true);
                        //   alert("please enter valid date");
                    }

                }
            });

            $("#DOB").focusout(function () {
                var dob = $(this).val();
                if (dob === "") {
                    $('#age').html("");

                    document.getElementById("valid-dob").innerHTML = "This is required field";
                    $("#valid-dob").show();
                    document.getElementById("DOB").innerHTML = "";

                    $('#subbutton').prop('disabled', true);

                }
                else {
                    $('#subbutton').prop('disabled', true);
                    dob = new Date(dob);
                    var today = new Date();
                    var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));
                    //
                    if (age > 20) {
                        $('#age').html(age + ' years old');
                        count = count + 1;
                        if (count >= 9) {
                            $('#subbutton').prop('disabled', false);
                        }

                    }
                    else {
                        $('#age').html("");

                        $('#subbutton').prop('disabled', true);
                        //   alert("please enter valid date");
                    }
                }
            });



            $("#DOB").focusin(function () {
                $("#valid-dob").hide();
                document.getElementById("valid-dob").innerHTML = "";

            });



            $("#Username").focusout(function () {
                var user = $(this).val();

                //Checking the length of username
                if (user.length > 0) {
                    if (user.length < 5) {
                        document.getElementById("Valid-user").innerHTML = "Username is too short";
                        $("#Valid-user").show();

                        $('#subbutton').prop('disabled', true);
                    }
                    else if (user.length > 20) {
                        document.getElementById("Valid-user").innerHTML = "Username is too long";
                        $("#Valid-user").show();

                        $('#subbutton').prop('disabled', true);
                    }
                    else {
                        //post to check is username already take

                        $.ajax({
                            url: '/api/values/checkUsernameStatus?username=' + user,
                            method: 'POST',

                            success: function (response) {
                                console.log(response);
                                if (response) {

                                    document.getElementById("Valid-user").innerHTML = "*Username already exist";
                                    $("#Valid-user").show();

                                    $('#subbutton').prop('disabled', true);

                                }
                                else {

                                    count = count + 1;
                                    if (count >= 9) {
                                        $('#subbutton').prop('disabled', false);
                                    }

                                }
                            },
                            error: function (jqXHR) {
                                console.log(jqXHR);

                            }
                        });
                    }
                }
                else {
                    document.getElementById("Valid-user").innerHTML = "This field is required";
                    $("#Valid-user").show();
                    console.log("not getting values");

                    $('#subbutton').prop('disabled', true);
                }
            });

            $("#Username").focusin(function () {
                $("#Valid-user").hide();
                document.getElementById("Valid-user").innerHTML = "";

            });



            $("#Email").focusout(function () {

                var email = $(this).val();
                //Checking the length of Email
                if (email.length > 0) {
                    if (isEmail(email)) {
                        // check already exist email

                        $.ajax({
                            url: '/api/values/checkEmailStatus?email=' + email,
                            method: 'POST',

                            success: function (response) {
                                console.log(response);
                                if (response) {

                                    $('#subbutton').prop('disabled', true);
                                    document.getElementById("valid-email").innerHTML = "Email Address Already registered";
                                    $("#valid-email").show();
                                }
                                else {
                                    count = count + 1;
                                    if (count >= 9) {
                                        $('#subbutton').prop('disabled', false);
                                    }

                                }
                            },
                            error: function (jqXHR) {
                                console.log(jqXHR);

                            }
                        });
                    }
                    else {
                        document.getElementById("valid-email").innerHTML = "Please enter valid email Address";

                        $("#valid-email").show();
                    }
                }
                else {
                    document.getElementById("valid-email").innerHTML = "This field is required";
                    $("#valid-email").show();

                    $('#subbutton').prop('disabled', true);
                }
            });

            $("#Email").focusin(function () {
                $("#valid-email").hide();
                document.getElementById("valid-email").innerHTML = "";

            });



            $("#Phone").focusout(function () {
                var user = $(this).val();

                //Checking the length of username
                if (user.length > 0) {
                    if (isNaN(user)) {
                        document.getElementById("valid-phone").innerHTML = "Phone number contains only digits";
                        $("#valid-phone").show();
                        $('#subbutton').prop('disabled', true);

                    }

                    else if (user.length != 10) {
                        document.getElementById("valid-phone").innerHTML = "Please enter valid phone number(don't add prefix like 0 or +91)";
                        $("#valid-phone").show();
                        $('#subbutton').prop('disabled', true);
                    }

                    else {
                        count = count + 1;
                        if (count >= 9) {
                            $('#subbutton').prop('disabled', false);
                        }

                    }
                }
                else {
                    document.getElementById("valid-phone").innerHTML = "This field is required";
                    $("#valid-phone").show();
                    $('#subbutton').prop('disabled', true);
                    console.log("not getting values");
                }
            });

            $("#Phone").focusin(function () {
                $("#valid-phone").hide();
                document.getElementById("valid-phone").innerHTML = "";

            });




            $("#Password").focusout(function () {
                var user = $(this).val();

                //Checking the length of username
                if (user.length > 0) {
                    if (user.length < 8) {
                        document.getElementById("valid-pass").innerHTML = "Password must have atleast 8 characters";
                        $("#valid-pass").show();
                        $('#subbutton').prop('disabled', true);
                    }
                    else if (user.length > 20) {
                        document.getElementById("valid-pass").innerHTML = "Password is too long";
                        $("#valid-pass").show();
                        $('#subbutton').prop('disabled', true);
                    }
                    else
                        if (!isPassword(user)) {
                            document.getElementById("valid-pass").innerHTML = "Password must have atleast one capital letter,small letter, digit and special character";
                            $("#valid-pass").show();
                            $('#subbutton').prop('disabled', true);
                        }
                        else {
                            count = count + 1;
                            if (count >= 9) {
                                $('#subbutton').prop('disabled', false);
                            }

                        }

                }
                else {
                    document.getElementById("valid-pass").innerHTML = "This field is required";
                    $("#valid-pass").show();
                    console.log("not getting values");
                    $('#subbutton').prop('disabled', true);
                }
            });

            $("#Password").focusin(function () {
                $("#valid-pass").hide();
                document.getElementById("valid-pass").innerHTML = "";

            });



            $("#ConfirmPassword").focusout(function () {
                var user = $(this).val();
                var password = $("#Password").val();
                //Checking the length of username
                if (user.length > 0) {
                    if (user === password) {
                        count = count + 1;
                        if (count >= 9) {
                            $('#subbutton').prop('disabled', false);
                        }

                    }
                    else {
                        document.getElementById("valid-cn").innerHTML = "Confirm Password field does not match with Password field";
                        $("#valid-cn").show();
                        $('#subbutton').prop('disabled', true);
                    }
                }
                else {
                    document.getElementById("valid-cn").innerHTML = "This field is required";
                    $("#valid-cn").show();
                    console.log("not getting values");
                    $('#subbutton').prop('disabled', true);
                }
            });

            $("#ConfirmPassword").focusin(function () {
                $("#valid-cn").hide();
                document.getElementById("valid-cn").innerHTML = "";

            });


            $("#Firstname").focusout(function () {
                var user = $(this).val();

                //Checking the length of username
                if (user.length === 0) {
                    document.getElementById("valid-fn").innerHTML = "This field is required";
                    $("#valid-fn").show();
                    $('#subbutton').prop('disabled', true);
                    console.log("not getting values");
                }
                else {
                    if (!isName(user)) {
                        document.getElementById("valid-fn").innerHTML = "FirstName does not conatin special characters";
                        $("#valid-fn").show();
                        $('#subbutton').prop('disabled', true);
                    }
                    else {
                        $("#Firstname").val(capitalizeFirstLetter(user));
                        //   document.getElementById("Firstname").innerHTML = capitalizeFirstLetter(user);
                        count = count + 1;
                        if (count >= 9) {
                            $('#subbutton').prop('disabled', false);
                        }

                    }

                }
            });

            $("#Firstname").focusin(function () {
                $("#valid-fn").hide();
                document.getElementById("valid-fn").innerHTML = "";

            });



            $("#Lastname").focusout(function () {
                var user = $(this).val();

                //Checking the length of username
                if (user.length === 0) {
                    document.getElementById("valid-ln").innerHTML = "This field is required";
                    $("#valid-ln").show();
                    $('#subbutton').prop('disabled', true);
                    console.log("not getting values");
                }

                else {
                    if (!isName(user)) {
                        document.getElementById("valid-ln").innerHTML = "LastName does not conatin special characters";
                        $("#valid-ln").show();
                        $('#subbutton').prop('disabled', true);
                        $("$Lastname").val("");

                    }
                    else {
                        $("#Lastname").val(capitalizeFirstLetter(user));
                        count = count + 1;
                        if (count >= 9) {
                            $('#subbutton').prop('disabled', false);
                        }

                        //  document.getElementById("Lastname").innerHTML = capitalizeFirstLetter(user);
                    }
                }

            });

            $("#Lastname").focusin(function () {
                $("#valid-ln").hide();
                document.getElementById("valid-ln").innerHTML = "";

            });

            $("#Bloodgroup").focusout(function () {

                var user = $(this).val();

                //Checking the length of username
                if (user === "") {
                    document.getElementById("valid-blood").innerHTML = "Please Select Blood Group";
                    $("#valid-blood").show();
                    $('#subbutton').prop('disabled', true);
                }
                else {
                    count = count + 1;
                    if (count >= 9) {
                        $('#subbutton').prop('disabled', false);
                    }
                }
            });

            $("#Bloodgroup").focusin(function () {
                $("#valid-blood").hide();
                document.getElementById("valid-blood").innerHTML = "";

            });




        });

    </script>

}
