@model CompanyPortal.ViewModels.ProjectViewModel



<form id="form1">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
 
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.LabelFor(model => model.ProjectTechStackList[0].Technology, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:center" })

            @Html.LabelFor(model => model.ProjectTechStackList[0].UserId, htmlAttributes: new { @class = "control-label col-md-5", style = "text-align:center" })

            <button type="button" id="btnaddrow"  value="addrow" class="fa fa-plus-circle"></button>


            <div id="row" class="col-md-12">

                <div id="eachrow0" class="col-md-12 dialogdiv">

                    @Html.DropDownListFor(model => model.ProjectTechStackList[0].Technology, new SelectList(""), "Select Technology", new { @class = "dialogdiv selectTech" })

                    @Html.DropDownListFor(model => model.ProjectTechStackList[0].UserId, new SelectList(""), "Select Team Member", new { @class = "dialogdiv margindiv selectUser" })
 
                    <button type="button" value="addrow" onclick="DeleteRow(this)" class="fa fa-minus-circle"></button>

                    @Html.ValidationMessageFor(model => model.ProjectTechStackList[0].Technology, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.ProjectTechStackList[0].UserId, "", new { @class = "text-danger" })

                </div>


               
            </div>


            <div class=" col-md-12 btnaddDiv" >
                <input type="button" value="Submit" class="btn btn-default btnSaveteam" id="submit" />
            </div>
        </div>
    </div>
</form>


    <script type="text/javascript">

        var userlist = [];
        $(document).ready(function () {
            debugger
            var i = 0;
            var TechList = [];
            var prevIndex = "";
            $.get("/api/Details/GetAllTechnologies", function (response) {
                debugger
                TechList = response;
                for (var j = 0; j < response.length; j++) {
                    var opt = new Option(response[j], response[j]);
                    $('#ProjectTechStackList_0__Technology').append(opt);
                }
            });
 
            $("#row").on('change', ".selectUser", function () {
                debugger
                var validationField = document.getElementById($(this).parent().attr("id")).childNodes[7];
                $(validationField).html("");
                var index = $(this).parent().index();
                if (index == prevIndex) {
                    userlist.splice(-1, 1)
                }
                else {
                    prevIndex = index;
                }

               
                var a = $(this).val();
             //   userlist.splice(index, 1, a);
                userlist.push(a); 
            });

            $("#row").on('change', ".selectTech", function () {
                debugger
                $(".selectUser").attr("disabled", true);
                var count = 0;
                var tech = $(this).val();
                var userSelect = document.getElementById($(this).parent().attr("id")).childNodes[3];
                $(userSelect).attr("disabled",false);

                var selectedValue = $(userSelect).children('option:selected').val();
                (selectedValue!=="")? userlist.splice(userlist.indexOf(selectedValue), 1) :"";
                $(userSelect).children('option:not(:first)').remove();

                var validationField = document.getElementById($(this).parent().attr("id")).childNodes[7];
                $(validationField).html("");
               
                $.get("/api/Details/GetTechnologyUserId", {"tech": tech }, function (response) {
                    debugger
                    for (var j = 0; j < response.length; j++) {
                        for (var k = 0; k < userlist.length; k++) {
                            if (response[j] == userlist[k]) {
                                count = 1;
                            }
                        }
                        if (count == 0) {
                            var opt = new Option(response[j], response[j]);
                            $(userSelect).append(opt);
                        }
                        else {
                            count = 0;
                        }
                    }
                });


            });

            $("#btnaddrow").click(function () {
                debugger
                var elements = document.getElementById("row").childNodes;
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].nodeName == "DIV") {
                        var a = elements[i].childNodes;

                        if ((a[1].value == "") || (a[3].value == "")) {
                            $(a[7]).html("Please fill the complete details");
                            return;
                        }

                    }
                }

                var newRow = '<div id="eachrow0" class="col-md-12 dialogdiv">'+
                  ' <select class="dialogdiv selectTech"><option value="">Select Technology</option>'+
                       ' </select > ' +
                     ' <select class="dialogdiv margindiv selectUser"><option value="">Select Team Member</option>'+
                     '  </select > '+
                ' <button type="button" value="addrow" onclick="DeleteRow(this)" class="fa fa-minus-circle"></button>' +
                   ' <span class="field-validation-valid text-danger" data-valmsg-for="ProjectTechStackList[0].Technology" data-valmsg-replace="true"></span>'+
                   '<span class="field-validation-valid text-danger" data-valmsg-for="ProjectTechStackList[0].UserId" data-valmsg-replace="true"></span>'+
                 ' </div > ';

                i = i + 1;
                var a = $(newRow);
                a.attr('id', 'eachrow' + i);// increment the id of the eachrow div to uniquely identify the row

                $("#row").append(a);
                var select = document.getElementById('eachrow' + i).childNodes[1];
                for (var j = 0; j < TechList.length; j++) {

                    var opt = new Option(TechList[j], TechList[j]);
                    $(select).append(opt);
                }

                $(".selectUser").attr("disabled", true);
            });


            $("#submit").click(function () {
                debugger
                var model =  @Html.Raw(Json.Encode(Model));
               // model["ProjectTechStackList"] = Json.encode($("#form1").serialize());
               //  var formdata = $("#form1").serialize();
               //var m = model + data;
                var formdata = [];
                var elements = document.getElementById("row").childNodes;
                for (var i = 0; i < elements.length; i++)
                {
                    if (elements[i].nodeName == "DIV") {
                        var a = elements[i].childNodes;
                        
                        formdata.push
                            ({
                                "Technology": a[1].value,
                                "UserId": a[3].value
                            });

                    }
                }
               
                SaveDataProjectIntoDatabase(model, formdata);
                $("#addteamDialog").dialog("close");
            });


        });

        

        function DeleteRow($this) {
            debugger
            
            var parent = $($this).parent();
            var parentelement = document.getElementById("" + parent.attr("id"));
            var value = parentelement.childNodes[3].value;
            userlist.splice(userlist.indexOf(value), 1);
            $(parent).remove();


        }

    </script>


